<header class="site-header">
    <div class="container-wide">
        <div class="site-title">
            <a href="{{ .Site.BaseURL }}">Lyra</a>
        </div>
        <nav class="site-nav">
            <a href="{{ .Site.BaseURL }}">Home</a>
            <a href="{{ .Site.BaseURL }}stories/">Stories</a>
            <a href="{{ .Site.BaseURL }}novel/">Novel</a>
            <a href="{{ .Site.BaseURL }}journal/">Journal</a>
            <a href="{{ .Site.BaseURL }}about/">About</a>
        </nav>
    </div>
</header>
